.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: rgb(31 41 55);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
  border: none;
}

/* html,
body {
  height: 100%;
} */

/* html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
} */
