/*#region ---------- 通用設定 ----------*/
/* 主色調設定 */
:root {
	 /*主色: 橘色*/ 
	--color-primary: #ff855e;
	/* 次要色: 米黃色 */
	--color-secondary: #ffd5a4;
	 /*灰色 */
	--color-gray: #666666;
	/* 黑色 */
	--color-dark: #303030;
	/* 白色 */
	--color-white: #ffffff;
}

* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100vh;
}

.pb-6 {
	padding-bottom: 6rem !important;
}

.color-primary {
	color: var(--color-primary);
}

.color-secondary {
	color: var(--color-secondary);
}

/* 滑鼠改手指圖案 */
.finger {
	cursor: pointer;
}

.noClick {
	pointer-events: none;
}

.text-center {
	text-align: center;
}

/* 隱藏捲軸 */
::-webkit-scrollbar {
	display: none;
}

.header {
	position: fixed;
	top: 0;
	background-color: var(--color-secondary);
	width: 100%;
	/* height: 72px; */
	z-index: 100;
	font-size: 20px;
}

.main-content {
	min-height: 100vh;
	max-height: 100vh;
	/* max-width: 100vh; */
	padding-top: 72px;
	padding-bottom: 72px;
	overflow-y: hidden;
	overflow-x: hidden;
	position: relative;
}

.footer {
	position: fixed;
	bottom: 0;
	background-color: var(--color-secondary);
	width: 100%;
	/* height: 72px; */
	z-index: 100;
}

/*#endregion 通用設定*/

/*#region  ---------- 標題bar ----------*/

.logo {
	width: 280px;
}

a.grayLink {
	text-decoration: none;
	color: var(--color-gray);
}

a.grayLink:hover {
	color: var(--color-dark);
	font-weight: bold;
}

/*#endregion 標題bar*/

/*#region ---------- Tag_bar ----------*/

.tagArea {
	/* gap: 40px; */
	overflow-x: auto;
	/* overflow-y: hidden; */
}

.tagList li {
	position: relative;
}

ul.tagList {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 20px;
}

.btn-cat-tag {
	/* box-sizing: border-box; */
	padding: 0.5rem 3rem;
	height: 40px;
	border: 2px solid var(--color-primary);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
	border-radius: 8px;
	white-space: nowrap;
}

.btn-check:checked+.btn-cat-tag {
	background: var(--color-primary);
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
	color: var(--color-white);
}

/*#endregion Tag_bar*/

/*#region ---------- Menu ----------*/
.menu {
	height: 80vh;
	overflow-y: auto;

	/* padding-bottom: 0px; */
}

.body::-webkit-scrollbar {
	display: none;
}

.catTitle {
	color: var(--color-primary);
	text-align: center;
}

.catTitle span {
	border-bottom: 1px solid var(--color-primary);
}

.foodCard {
	display: flex;
	box-sizing: border-box;
	padding: 12px 16px;
	gap: 8px;
	width: 100%;
	/* height: 194px; */

	background-color: rgba(221, 212, 212, 0.5);
	/* secondary */

	border: 1px solid var(--color-secondary);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
}

.foodCard:hover {
	background: var(--color-secondary);
	border: 1px solid var(--color-primary);
}

.foodCard.soldout {
	color: var(--color-gray);
	background: var(--color-dark);
	border: 1px solid #ffd5a4;
	filter: blur(1px);
	pointer-events: none;
	position: relative;
}

 .foodCard.soldout::before {
	content: "已售完";
	position: absolute;
	top: 50%;
	left: 30%;
	transform: translate(-50%, -50%);
	color: var(--color-white);
	font-size: 25px;
	font-weight: bold;
	z-index: 10;
} 
.soldoutMask {
	position: absolute;
	top: 50%;
	left: 30%;
	transform: translate(-50%, -50%);
	color: var(--color-white);
	font-size: 25px;
	font-weight: bold;
	z-index: 10;
}

.menuCardImg {
	width: 168px;
	height: 168px;
	object-fit: cover;
	border-radius: 8px;
}

.btn-pill-primary {
	background: var(--color-white);
	color: var(--color-primary);
	border-radius: 50rem;
	padding: 0.25rem 0.5rem;
	margin: 2px 1px;
	border: 1px solid var(--color-primary);
	cursor: pointer;
	font-size: 1rem;
}

.btn-check:checked+.btn-pill-primary {
	background: var(--color-primary);
	color: var(--color-white);
}

/*#endregion Menu*/

/*#region ---------- Footer ----------*/

.btn-chkOrder {
	color: var(--color-white);
	padding: 8px 56px;
	width: 196px;
	height: 40px;
	background: var(--color-primary);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
}

.border-left {
	border-left: 4px solid var(--color-primary);
}

/*#endregion Footer*/

/*#region ---------- Modal ----------*/

.modal.fade {
	transition: opacity 0.2s linear;
}

.btn-addToCart {
	/* display: flex; */
	color: var(--color-white);
	width: 100%;
	padding: 0.25rem 1rem;
	background: var(--color-primary);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	margin: 0;
}

.modalFoodImg {
	text-align: center;
	width: 100%;
	height: 225px;
	object-fit: cover;
	border-radius: 8px;
}

.btn-minus,
.btn-add {
	border-radius: 50%;
	border: 1px solid var(--color-primary);
	background: var(--color-white);
	color: var(--color-primary);
	/* font-size: 20px; */
	font-weight: bold;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.cartfoodCard {
	display: flex;
	box-sizing: border-box;
	padding: 12px 16px;
	gap: 8px;

	width: 100%;
	/* height: 194px; */

	background: var(--color-white);
	border: 1px solid var(--color-secondary);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
}

.cartEdit,
.cartDelete {
	border-radius: 50%;
	border: 1px solid var(--color-primary);
	background: var(--color-white);
	color: var(--color-primary);
	/* font-size: 20px; */
	font-weight: bold;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.cartEdit:hover,
.cartDelete:hover {
	background: var(--color-primary);
	color: var(--color-white);
}

.login-input {
	width: 80%;
	height: 40px;
	padding: 0 16px;
	border: 1px solid var(--color-secondary);
	border-radius: 8px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.btn-login {
	width: 80%;
	height: 40px;
	padding: 0 16px;
	border: 1px solid var(--color-secondary);
	border-radius: 8px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
	background: var(--color-primary);
	color: var(--color-white);
}

.errMsg {
	color: red;
	text-align: left;
}

#userOrdersModal .modal-content {
	min-height: 70vh;
	max-height: 90vh;
}

.adBackground {
	width: 100%;
	/* height: 70vh; */
	background-image: url("./Img/PC/banner.png");
	background-repeat: no-repeat;
	background-size: cover;
	/* background-position: center; */
	/* position: relative; */
}

@media (max-width: 992px) {
	.adBackground {
		background-image: url("./Img/MOBILE/banner.png");
		min-height: 676px;
	}
}

.adsImg img {
	width: 100%;
	object-fit: contain;
}

/*#endregion Modal*/

/*#region ---------- NAN ----------*/
/*#endregion NAN*/
.announce {
	background-image: url(./Img/logo.png);
}